{% extends 'base.html' %}
{% block title %}
Privacy Policy
{% endblock title %}
{% block content %}
<div class="banner-section d-flex justify-content-center align-items-end">
      <div class="section-overlay"></div>

      <div class="container">
            <div class="row">

                  <div class="col-lg-7 col-12">
                        <h1 class="text-white mb-lg-0">Privacy Policy</h1>
                  </div>

                  <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                        <nav aria-label="breadcrumb">
                              <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                              </ol>
                        </nav>
                  </div>

            </div>
      </div>
</div>

<div class="section-padding">
      <div class="container">
            <div class="row">
                  <div class="col-lg-8 col-12 text-center mx-auto">
                        <h2 class="">Clean Work respects the privacy of our users.</h2>
                        <p>This Privacy Policy describes the types of information we collect.</p>
                  </div>
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                        <div class="col d-flex align-items-start">
                              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                    <use xlink:href="#bootstrap"></use>
                              </svg>
                              <div>
                                    <h3 class="fw-bold mb-3 fs-4 text-body-emphasis">Your Choices</h3>
                                    <p>You can opt out of receiving marketing communications from us by following the
                                          unsubscribe instructions in those communications.</p>
                              </div>
                        </div>
                        <div class="col d-flex align-items-start">
                              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                    <use xlink:href="#cpu-fill"></use>
                              </svg>
                              <div>
                                    <h3 class="fw-bold mb-3 fs-4 text-body-emphasis">Data Security</h3>
                                    <p>We take reasonable steps to protect your personal information from unauthorized
                                          access, disclosure, alteration, or destruction.</p>
                              </div>
                        </div>
                        <div class="col d-flex align-items-start">
                              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                    <use xlink:href="#calendar3"></use>
                              </svg>
                              <div>
                                    <h3 class="fw-bold mb-3 fs-4 text-body-emphasis">Children's Privacy</h3>
                                    <p>Our Website is not directed to children under the age of 13. We do not knowingly
                                          collect personal information from children under 13. </p>
                              </div>
                        </div>
                        <div class="col d-flex align-items-start">
                              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                    <use xlink:href="#home"></use>
                              </svg>
                              <div>
                                    <h3 class="fw-bold mb-3 fs-4 text-body-emphasis">Sharing of Information</h3>
                                    <p>We will not share your personal information with third parties except in the
                                          following limited circumstances.</p>
                              </div>
                        </div>
                        <div class="col d-flex align-items-start">
                              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                    <use xlink:href="#speedometer2"></use>
                              </svg>
                              <div>
                                    <h3 class="fw-bold mb-3 fs-4 text-body-emphasis">Use of Information</h3>
                                    <p>To provide and fulfill your requests for cleaning services.
                                          To send you information about our services, promotions, and special offers.
                                    </p>
                              </div>
                        </div>
                        <div class="col d-flex align-items-start">
                              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                    <use xlink:href="#toggles2"></use>
                              </svg>
                              <div>
                                    <h3 class="fw-bold mb-3 fs-4 text-body-emphasis">Personal Information</h3>
                                    <p>When you request a quote, book a cleaning service, or contact us through the
                                          Website, you may provide us with certain personal information, such as your
                                          name, email address, phone number, billing address, and cleaning preferences.
                                    </p>
                              </div>
                        </div>
                        <div class="col d-flex align-items-start">
                              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                    <use xlink:href="#geo-fill"></use>
                              </svg>
                              <div>
                                    <h3 class="fw-bold mb-3 fs-4 text-body-emphasis">Usage Data</h3>
                                    <p>We may automatically collect certain information about your use of the Website,
                                          such as your browser type, IP address, referring URL, pages visited, and time
                                          spent on the Website.</p>
                              </div>
                        </div>
                        <div class="col d-flex align-items-start">
                              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                    <use xlink:href="#tools"></use>
                              </svg>
                              <div>
                                    <h3 class="fw-bold mb-3 fs-4 text-body-emphasis">Changes to this Privacy Policy</h3>
                                    <p>We may update this Privacy Policy from time to time. We will post any changes on
                                          the Website. </p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
{% endblock %}